/** All pages: navigation, logo, html, body **/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'montserret', sans-serif;
	background:  #D0D0D0;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 80px;
	background-color: #122335;
	font-family: 'Poppins', sans-serif;
}

.logo{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 32%;
}

 .nav-links{
	 display: flex;
	 justify-content: space-around;
	 width:35%;
 }

 .nav-links a{
	 color: white;
	 text-decoration: none;
	 letter-spacing: 2px;
	 font-family: 'Poppins', sans-serif;
	 font-size: 17px;
	 text-transform: uppercase;
	 border-radius: 8px;
	 padding: 10px 20px;
 }

.nav-links li{
	list-style: none;
}

.nav-links a:hover{
	background: #fff;
	color:  	#484848;
	transform: scale(1.1);
}



/*********************************************************************************************************************
    INDEX HTML PAGE
**********************************************************************************************************************/


/**  index page**/

.title{
	color: white;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 20px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-top: 215px;
	transform: translate(-50%,-50%);
	text-align:center;
	font-weight: bold;
	width: 100%;
}


/** index page image**/

.img-container {
	width: 100%;
	height: 100%;
}

img{
	width: 100%;
	height:100%;
}



/*********************************************************************************************************************
    SEARCH HTML PAGE
**********************************************************************************************************************/

/** search html**/

.search-by{
	font-family: 'Poppins', sans-serif;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: 10px;
	position: absolute;
	top: 1%;
	left: 50%;
	margin-top: 210px;
	margin-top: 210px;
	transform: translate(-50%,-50%);
	text-align:center;
	font-weight: bold;
	width: 100%;
	
}

/** search html search table, bar and button**/

#searchtable{
	width:70%;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-top: 215px;
	transform: translate(-50%,-50%);
}

#searchtable td{
	font-size: 20px;
}

.search-text{
	width: 90%;
  	border: 0px;
	height: 40px;
 	padding: 0px 35px;
  	border-radius: 50px;
  	outline: none;
  	color: #42be11;
	color: white;
	font-weight: bold;
	background: #122335;
}


.submitbtn{
	position: fixed;
	top: 90%;
	left: 80%;
	transform: translate(-50%,-50%);
}




/*********************************************************************************************************************
    LISTALL.PY PAGE
**********************************************************************************************************************/


/*Table styling for listall.py */
h3{
	font-family: 'Poppins', sans-serif;
	font-size:50px;
	left: 50%;
}

table{
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 14px;
	table-layout: fixed;
 	word-wrap:break-word;
}

th, td {
	border: 1px white;
	padding: 15px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

table tr:nth-child(even){
	background-color: #eee;
}

table tr:nth-child(odd){
	background-color: #fff;
}


 th {
	background-color: black;
	color: white;
	text-transform: uppercase;
}

/** listall.py heading**/

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 300%;
	text-transform: uppercase;
	padding: 40px;
}

/** listall.py whole page **/
.summary-page{
	margin-left: 80px;
}




/*********************************************************************************************************************
    SEARCH.PY PAGE
**********************************************************************************************************************/

/** Search.py page**/

.page {
	padding:40px;
}

/** search.py tables: detail table, restriction enzyme table, codon table**/

.detail {
	width:80%;
}

.reztable {
	width:15%;
}

.codon{
	width:25%;
}

/** search.py table width**/

.summary {
	width:90%;
}


/** search.py heading for detail table**/

.detail-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 300%;
	text-transform: uppercase;
	margin-left: 40px;
	margin-top: 40px;
}

/** search.py dna info points**/
.info{
	font-family: 'Poppins', sans-serif;
	font-size: 80%;
	margin-top :10px;
	margin-bottom :25px;

}

/** search.py restriction enzyme dropdown **/
.dropdown{
	margin-bottom :10px;
	font-weight: bold;
	margin-right:450px;
	display: inline-block;
}

/** search.py restriction enzyme info: tells what restrction enzyme was searched**/

.rezinfo{
	font-family: 'Poppins', sans-serif;
	font-size: 90%;
	font-weight: bold;
}


/** search.py dna sequence**/

#dna-seq{
	height: auto;
	margin-top :30px;
	margin-bottom :50px;
	width:auto;
	font-size: 11px;
   	word-wrap:break-word;
}

/** search.py headings on this page**/

.table-heading {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 120%;
	font-family: 'Poppins', sans-serif;
}
